.additional-item-frame {

    @media screen and (min-width: 450px) {
        margin-left: 3rem;
     }
    
    &:not(:last-child) {
        border-bottom: 1px solid grey;
    }

    &__box-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    }
    
    &__details {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        align-items: center;
        
   }

   &__qty {
       margin-top: 1rem;
   }

    &__image {
        height: 20rem;
        object-fit: contain;
    }
    
}