.content {
    height: 75%;
    padding: 0 1rem;
    overflow: auto;
    @media screen and (min-width: 650px) {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
      
      }

}