.item-frame {
    
    display: flex;
    flex-direction: column;    
    font-size: 1.4rem;


    &:not(:last-child) {
        border-bottom: 1px solid grey;
    }


    &__box {
        display: flex;
        padding: 1rem; 
         
    }

    &__image-holder {
        position: relative;
        width: 40%;
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        object-fit: contain;
    }

    &__image {
         width: 10rem;
         height: 10rem;
         
         object-fit: contain;
    }

    &__details {
        width: 60%;
        position: relative;
        display:flex;
        flex-direction: column;
        & > * {
            margin-bottom: 1rem;
        }
    }

    &__qty {
        //margin-top: 2rem;
        //margin-bottom: .4rem;
    }

    &__sticker {
        position: absolute;
        top: -1rem;
        left: 0;
        color: white;
        padding: .2rem;
        font-size: 1rem;
        border-radius: 10px;
        padding: .4rem;
        background-image: linear-gradient(to top right, red, white);
        border-bottom: 1px solid white;
        transform: rotate(-40deg);

        @media screen and (max-width: 330px) { 
            left: -2rem;
        }

        
        @media screen and (min-width: 650px) { 
            left: -2rem;
        }
        
    }

    &__topic {
        font-size: 1.6rem;
    } 

    &__more-items {
        
        margin-top: auto;
        font-size: 2rem;
        color: white;
        padding: .4rem;
        background-color: #367be1; 
        margin-bottom: 2rem;
       // border-bottom: 1px solid blue !important;
        border-radius: 10px;
        box-shadow: .5rem .5rem 1rem rgba(black, .3);
        

        @media screen and (max-width: 330px) { 
            font-size: 1.7rem;
        }

        @media screen and (min-width: 400px) { 
           width: 80%;
        }
        
    }
}