.header {
    height: 15vh;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid grey;

    &__msg {
        width: 70%;
       align-self: stretch;
        display: flex;
        flex-direction: column;
    }  


    &__logo {
        width: 10rem;     
        object-fit: contain;
        @media screen and (max-width: 290px) {
            width: 8rem;
         }
    }
}
